@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

$colors: (
    primary: #005DFF,
    primary-light: lighten(#005DFF, 40%),
    primary-dark: darken(#005DFF, 40%),
    accent: #FFF6BB,
    accent-dark: darken(#FFF6BB, 40%)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$padding: 15px;
$borders: 15px;
$desktop: 840px;

// %styles {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 200px;
//     height: 300px;
//     border: 1px solid blue;
//     padding: 10px;
//     color: red;
//     z-index: 2;
// }

// .box {
//     @extend %styles;
// }
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

body, html {
    height: 100%;
}

body {
    
    #bg {
        clip-path: polygon(100% 0, 100% 78%, 48% 100%, 0 100%, 0 0);
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        @include desktop {
            clip-path: polygon(0 0, 77% 0, 54% 100%, 0 100%);
        }
    }

    header a {
        color: #fff; //white
        text-decoration: none;
        padding: $padding;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
    }
}

main {

    @include desktop {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
    }
    section#card {
        background: #fff;
        padding: 20px 15px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0px 10px 30px rgba(0,0,0,.2);
        width: 80%;

        @include desktop {
            grid-area: card;
            height: fit-content;
            align-self: center;
            margin: 1em;
            width: 80%;
        }

        ul {
            list-style-type: none;

            li {
                margin-bottom: 10px;

                span {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background-color: color(primary-light);
                    border-radius: 50%;
                    margin-right: 10px;
                }

                strong {
                    display: inline-block;
                    margin-left: max(40px);
                    margin-top: 10px;
                }
            }
        }
    }

    section#primary {
        color: #fff;
        padding: $padding;
        text-align: center;

        @include desktop {
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;
        }

        h1 {
            font-size: 3em;
            margin-top: 10px;
            text-transform: uppercase;

            @include desktop {
                width: 30%;
                font-size: 4em;
                line-height: .9em;
            }
        }

        p {
            font-size: 1.4em;
            margin-top: 15px;
        }

        a {
            color: color(primary-dark);
            border-radius: $borders;
            
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: color(accent);
            display: block;
            text-align: center;
            margin: 30px auto 0;
            padding: $padding;
            width: 80%;
            cursor: pointer;

            &:hover {
                transition: .3s;
                background: color(accent-dark);
                box-shadow: 0px 10px 30px rgba(0,0,0,.2);
            }

            @include desktop {
                display: inline-block;
                padding: $padding $padding * 4;
                width: auto;
                margin: 50px auto 0;
            }
        }
    }

}